<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<div><a href="/">index page</a></div>
<div>
    <form action="/adjustment/go" method="post">
        username:<input type="text" name="username"/><br/>
        reflex_id:<input type="text" name="reflexId" placeholder="GENERAL_RECEIVE for admin,or empty for general user"/><br/>
        amount  :<input type="text" name="amount"/></br>
        <input type="submit" value="ok"/>
    </form>
</div>

</body>
</html>