<html>
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<div><%=message||''%></div>
<div><%=user && user.username||''%></div>
<div><a href="/login/index">login</a></div>
<div><a href="/regist/index">regist</a></div>
<div><a href="/adjustment/index">adjustment</a></div>
<div><a href="/pay/index">user pay to admin(GENERAL_RECEIVE)</a></div>


</body>
</html>