<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<div><a href="/">index page</a></div>
<div>
    <form action="/pay/go" method="post">
        amount  :<input type="text" name="amount"/></br>
        reflex_id  :<input type="text" name="reflexId" placeholder="usually,it`s empty for general user"/></br>
        <input type="submit" value="ok"/>
    </form>
</div>

</body>
</html>